@page "/clienteMovimiento"

<div class="tab-bar-container">
    <TabBar TabItems="@tabItems" ActiveTab="@selectedTab" OnTabSelected="OnTabSelected" />
</div>

<div class="clienteMovimiento">
    <ResumenOperaciones Titulo="Movimientos Puntos"
                        MostrarFavorito="true"
                        FechaInicial="@DateTime.Today.AddDays(-7)"
                        FechaFinal="@DateTime.Today"
                        TextoCancelar="Cancelar"
                        TextoImprimir="Imprimir" />
</div>

@code {
    private List<string> tabItems = new List<string>
    {
        "Movimientos",
        "Estado de Cuenta",
        "",
        "",
        "",
        "",
        "",
         "",
        "",
        "",
        "",
        "",
         "",
        "",
        "",
        "",
        "",
         "",
        "",
        "",
        "",
        "",
         "",
        "",
        "",


    };

    private string selectedTab = "Movimientos"; // Pestaña por defecto seleccionada

    private void OnTabSelected(string selectedTab)
    {
        this.selectedTab = selectedTab;
        Console.WriteLine($"Tab seleccionado: {selectedTab}");
    }

    private void Cancelar()
    {
        try
        {
            // Acción de cancelación
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error en Cancelar: {ex.Message}");
        }
    }

    private void Imprimir()
    {
        try
        {
            // Acción de impresión
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error en Imprimir: {ex.Message}");
        }
    }
}
