/* _content/web_mysonda/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-onq7zbiqr2] {
    position: relative;
    display: flex;
    flex-direction: column;
}


.sidebar[b-onq7zbiqr2] {
    background-color: #00AA63;
    border-radius: 20px;
    margin-top: 60px;
    
}








@media (max-width: 640.98px) {
    .top-row[b-onq7zbiqr2] {
        justify-content: space-between;
    }

    .top-row[b-onq7zbiqr2]  a, .top-row[b-onq7zbiqr2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-onq7zbiqr2] {
        flex-direction: row;
    }

    .sidebar[b-onq7zbiqr2] {
        width: 250px;
        height: 225vh;
        position: sticky;
    }



    #blazor-error-ui[b-onq7zbiqr2] {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss[b-onq7zbiqr2] {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }
}




/* _content/web_mysonda/Components/Layout/NavMenu.razor.rz.scp.css */


.navbar-brand[b-drjnpsa39q] {
    font-size: 1.1rem;
}

.bi[b-drjnpsa39q] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.logo[b-drjnpsa39q] {
    
    margin-top: -60px;
    align-items: center;
    
}
    .logo img[b-drjnpsa39q] {
        width: 80%; 
        height: auto;
    }
    


.bi-list-nested-nav-menu[b-drjnpsa39q] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-drjnpsa39q] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-drjnpsa39q] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-drjnpsa39q] {
        padding-bottom: 1rem;
    }

    .nav-item[b-drjnpsa39q]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-drjnpsa39q]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-drjnpsa39q]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}


/* _content/web_mysonda/Components/Pages/ReporteCorporativo.razor.rz.scp.css */
.ruta-input-container[b-zrs0drmaec] {
    margin-top: 300px; /* Espaciado hacia abajo para no interrumpir otros elementos */
    display: flex;
    flex-direction: column;
    right: -330px;
    align-items: flex-start;
    position: relative; /* Asegura que el contenedor tenga un contexto para el z-index */
    z-index: 100; /* Este valor es para asegurarse de que el input esté por encima de otros elementos */
}

.ruta-label[b-zrs0drmaec] {
    font-size: 16px;
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

.ruta-input[b-zrs0drmaec] {
    width: 200%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B7BABB;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    position: relative; /* Asegura que el input también tenga un contexto para z-index */
    z-index: 101; /* Asegura que el input esté por encima del contenedor */
}
/* _content/web_mysonda/Components/Pages/Reportes.razor.rz.scp.css */

.custom-card[b-m77me0famc] {
    border-radius: 20px; /* Bordes redondeados */
    height: 150px; /* Altura fija para todas las tarjetas */
    width: 240px;
   margin: 40px;
}

    
/* Colores personalizados para las tarjetas */
.bg-custom-blue[b-m77me0famc] {
    background-color: #3B82F6; /* Azul */
}

.bg-custom-green[b-m77me0famc] {
    background-color: #22C55E; /* Verde */
}

.bg-custom-purple[b-m77me0famc] {
    background-color: #A855F7; /* Púrpura */
}

.bg-custom-pink[b-m77me0famc] {
    background-color: #EC4899; /* Rosa */
}

.bg-custom-blue-light[b-m77me0famc] {
    background-color: #6366F1; /* Azul claro */
}

.bg-custom-red[b-m77me0famc] {
    background-color: #EF4444; /* Rojo */
}
.bg-custom-yellow[b-m77me0famc] {
    background-color: #EAB308;
}

.bg-custom-gr[b-m77me0famc] {
    background-color: #14B8A6;
}

.bg-custom-as[b-m77me0famc] {
    background-color: #84CC16;
}








    /* Estilos para el ícono de las tarjetas */
    .custom-icon[b-m77me0famc] {
        font-size: 2rem; /* Tamaño del ícono */
        margin-bottom: 10px; /* Espaciado inferior */
    }



.btn-link[b-m77me0famc] {
    position: absolute; /* Posicionamiento absoluto */
    top: -90px; /* Distancia desde la parte superior */
    right: -5px; /* Distancia desde la derecha */
    color: #ffffff; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    transition: color 0.3s ease; /* Transición suave para el color */
}


    .btn-link:focus[b-m77me0famc], .btn-link:active[b-m77me0famc] {
        outline: none;
        box-shadow: none;
    }



/* Estilos para los enlaces en el menú desplegable */
.dropdown-menu[b-m77me0famc] {
    min-width: 10rem; /* Ancho mínimo del menú */
}





/* Estilos para el menú desplegable */
.dropdown-submenu[b-m77me0famc] {
    position: relative;
}

    .dropdown-submenu .dropdown-menu[b-m77me0famc] {
        left: 100%; /* Mueve el submenú a la derecha */
        top: 0;
        display: none; /* Inicialmente oculto */
    }

    .dropdown-submenu:hover .dropdown-menu[b-m77me0famc] {
        display: block; /* Muestra el submenú al pasar el mouse */
    }

/* Ajustes adicionales para los íconos y los botones */
.dropdown-item.dropdown-toggle[b-m77me0famc] {
    cursor: pointer; /* Cambiar el cursor al pasar sobre la opción con submenú */
}
/* _content/web_mysonda/Components/Pages/ResumenOperaciones.razor.rz.scp.css */
.resumen-operaciones[b-zguovx0gvn] {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #B7BABB;
    border-radius: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 723px;
    height: 450px;
    position: fixed;
    top: 140px;
    left: 57%;
    transform: translateX(-50%);
    z-index: 10;
}

.header[b-zguovx0gvn] {
    position: relative;
    background-color: #5A86A3;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    width: 78%;
    right: -70px;
    align-items:center;
    margin-bottom: 30px;
}

    .header h3[b-zguovx0gvn] {
        color: #000000;
        margin: 0;
        font-size: 22px;
        font-weight: 600;
       
    }

.favorito[b-zguovx0gvn] {
    position: absolute;
    top: 10px;
    right: -60px; /* Ajustado a 10px para no salirse del contenedor */
    cursor: pointer;
    width: 24px;
    height: 24px;
}

    .favorito:hover path[b-zguovx0gvn] {
        fill: #22C55E;
    }

.form-content-right[b-zguovx0gvn] {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.form-group[b-zguovx0gvn] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker[b-zguovx0gvn] {
    padding: 10px;
    width: 180px;
    height: 40px;
    border: 0.5px solid #716D6D;
    border-radius: 8px;
    text-align: center;
}

.button-group-right[b-zguovx0gvn] {
    display: flex;
    gap: 70px;
    margin-top: 130px;
    position: absolute;
    right: 50px;
    
}

.btn-cancelar[b-zguovx0gvn], .btn-imprimir[b-zguovx0gvn] {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
    height: 40px;
    font-weight: 600;
}

.btn-cancelar[b-zguovx0gvn] {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.btn-imprimir[b-zguovx0gvn] {
    background-color: #000000;
    color: #fff;
}
/* _content/web_mysonda/Components/Pages/RFinanciero_auditoria.razor.rz.scp.css */
.reporte-auditoria[b-rrbbuocqh6] {
    font-family: Arial, sans-serif;
}



.card[b-rrbbuocqh6] {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #B7BABB; /* Borde de 1px con color #B7BABB */
    border-radius: 40px; /* Esquinas redondeadas de 40px */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Drop shadow */
    width: 793px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.header[b-rrbbuocqh6] {
    position: relative;
    background-color: #5A86A3;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    margin-bottom: 30px;
}

    .header h3[b-rrbbuocqh6] {
        color: #000000;
        margin: 0;
        font-size: 22px;
        font-weight: 600;
    }

.favorito[b-rrbbuocqh6] {
    position: absolute;
    top: 10px;
    right: -50px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

    .favorito:hover path[b-rrbbuocqh6] {
        fill: #22C55E; /* Cambia a dorado al pasar el cursor */
    }

.filters[b-rrbbuocqh6] {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.filter label[b-rrbbuocqh6] {
    font-size: 0.9em;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.filter input[b-rrbbuocqh6] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search[b-rrbbuocqh6] {
    margin-bottom: 15px;
}

    .search input[b-rrbbuocqh6] {
        width: 280%;
        margin-left: -90%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

.table-container[b-rrbbuocqh6] {
    max-width: 100%;
    max-height: 200px; /* Ajusta la altura máxima para el scroll vertical */
    overflow-x: auto; /* Scroll horizontal */
    overflow-y: auto; /* Scroll vertical */
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.report-table[b-rrbbuocqh6] {
    width: 100%;
    border-collapse: collapse;
}

    .report-table th[b-rrbbuocqh6], .report-table td[b-rrbbuocqh6] {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        white-space: nowrap; /* Evita que el contenido se ajuste en múltiples líneas */
    }

    .report-table th[b-rrbbuocqh6] {
        background-color: #E0E5EB;
        color: #333;
    }

    .report-table tbody tr:nth-child(even)[b-rrbbuocqh6] {
        background-color: #f9f9f9;
    }

.button-group-right[b-rrbbuocqh6] {
    display: flex;
    gap: 70px;
    margin-right: -200px;
    margin-top: 50px;
}

.btn-cancelar[b-rrbbuocqh6], .btn-imprimir[b-rrbbuocqh6] {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
    height: 40px;
    font-weight: 600;
}

.btn-cancelar[b-rrbbuocqh6] {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.btn-imprimir[b-rrbbuocqh6] {
    background-color: #000000;
    color: #fff;
}
/* Estilos generales */
/* Estilos básicos */
/* Estilos básicos */
.tab-bar[b-rrbbuocqh6] {
    display: flex;
    align-items: center;
    position: relative;
    width: 52%; /* Igual al tamaño de .tabs-container */
    border-radius: 10px;
    right: -295px;
    margin-top: 20px;
    background-color: #5A86A3; /* Fondo azul */
}

.tabs-container[b-rrbbuocqh6] {
    width: 100%; /* Ocupa todo el ancho disponible del contenedor padre */
    overflow: hidden;
    position: relative;
}


.tabs[b-rrbbuocqh6] {
    display: flex;
    transition: transform 0.5s ease;
   
}
.tab[b-rrbbuocqh6] {
    padding: 5px 10px; /* Tamaño reducido de relleno */
    cursor: pointer;
    flex: 1 0 auto;
    text-align: center;
    min-width: 12%; /* Ajusta para que las pestañas no sean demasiado pequeñas */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5px; /* Espacio entre cada botón */

    background-color: white; /* Fondo blanco */
    color: #333; /* Color de texto oscuro para contraste */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Opcional: añade bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: añade una ligera sombra */
}


/* Estilo para las flechas */
.arrow[b-rrbbuocqh6] {
    background: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
    padding: 0 10px;
    transition: color 0.3s ease;
}

.arrow:hover[b-rrbbuocqh6] {
    color: #007bff; /* Color de las flechas al pasar el cursor */
}

/* Ocultar los checkboxes */
input[type="radio"][b-rrbbuocqh6] {
    display: none;
}

/* Deslizar hacia la primera sección */
#slide1:checked ~ .tabs-container .tabs[b-rrbbuocqh6] {
    transform: translateX(0);
}

/* Deslizar hacia la segunda sección */
#slide2:checked ~ .tabs-container .tabs[b-rrbbuocqh6] {
    transform: translateX(-100%); /* Mueve a la segunda mitad de la barra */
}
/* _content/web_mysonda/Components/Pages/TabBar.razor.rz.scp.css */
.tab-bar[b-16q9jgn4nr] {
    display: flex;
    align-items: center;
    position: relative;
    width: 55%; /* Igual al tamaño de .tabs-container */
    border-radius: 10px;
    right: -270px;
    margin-top: 20px;
    background-color: #5A86A3; /* Fondo azul */
}





.tabs-container[b-16q9jgn4nr] {
    width: 100%; /* Ocupa todo el ancho disponible del contenedor padre */
    overflow: hidden;
    position: relative;
}


.tabs[b-16q9jgn4nr] {
    display: flex;
    transition: transform 0.5s ease;
}

.tab[b-16q9jgn4nr] {
    padding: 5px 10px; /* Tamaño reducido de relleno */
    cursor: pointer;
    flex: 1 0 auto;
    text-align: center;
    min-width: 12%; /* Ajusta para que las pestañas no sean demasiado pequeñas */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5px; /* Espacio entre cada botón */

    background-color: transparent; /* Fondo blanco */
    color: #333; /* Color de texto oscuro para contraste */
    border: none; /* Sin bordes */
   
   
}


/* Estilo para las flechas */
.arrow[b-16q9jgn4nr] {
    background: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
    padding: 0 10px;
    transition: color 0.3s ease;
}

    .arrow:hover[b-16q9jgn4nr] {
        color: #007bff; /* Color de las flechas al pasar el cursor */
    }

/* Ocultar los checkboxes */
input[type="radio"][b-16q9jgn4nr] {
    display: none;
}

/* Deslizar hacia la primera sección */
#slide1:checked ~ .tabs-container .tabs[b-16q9jgn4nr] {
    transform: translateX(0);
}

/* Deslizar hacia la segunda sección */
#slide2:checked ~ .tabs-container .tabs[b-16q9jgn4nr] {
    transform: translateX(-100%); /* Mueve a la segunda mitad de la barra */
}

.tab.active[b-16q9jgn4nr] {
    background-color: white; /* Color de fondo cuando está activa */
    color: #000; /* Color del texto cuando está activa */
    font-weight: bold; /* Hacer el texto más fuerte */
}
